body{
	margin:0; padding:0;
	width: 100%;
	overflow-x:hidden; 
    height: auto;
    background-color: bisque;
    
}
.container-flex{
	position: fixed;
	top: 0;
	/*width:1350px;*/
	width: 100%;
    z-index: 2;
    height: auto;
    background-color: blue;
   /* margin-top: -50px;*/
}
#cover h1 {
	margin-top:1%;
	float: left;
	font-size: 30px;
	color: black;
    height: auto;
 }
 
 .nav-link
{
    margin-top:1%;
    border: none;
    font-size: 20px;
    float: right;
	text-align: center;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.input
{
    float: right;
    padding: 6px;
    border: none;
    margin-top: -50px;
    margin-right: 16px;
    font-size: 17px;
}