
.art
{
	height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   background-color: bisque;

    	
}
.row{
	width:28rem;
    margin-left: 2%;
    padding-left:2%; 
    margin-top: 10px;  
}
.card-body{
    background-color: aqua;
    height: 100%;
}
.card-body a {
	text-decoration: none;
    color: black;
   
}
.card-img-top
{
    height: 350px;
}
