<!-- The content below is only a placeholder and can be replaced.
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie Website</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

 <!--   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Movie Webiste</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="upcoming">Upcoming <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="trending">Trending</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="collection" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collection
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" routerLink="search"  aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
 <div class="container-flex">
    <section id="cover">
          <div id="cover-caption">
              
                      <h1>Movie Website</h1>
                      <nav class="nav">
                         
                          <a class="nav-link" routerLink="/upcoming">Upcoming</a>
                          <a class="nav-link" routerLink="/trending">Trending</a>
                          <a class="nav-link" routerLink="/collection">Collections</a>
                        </nav>
                  </div>
              
      </section>
     

<div class="input">
<input type="text" class="form-control" id="exampleInputEmail1"   placeholder="Search.." [(ngModel)]="usertitle">
<button (click)="search()">Enter</button>
</div>
</div>-->
<div class="art" *ngIf="res4">
            <div class="row" *ngFor="let a of res4.results">
                <div class="card">
                  <img class="card-img-top" src="http://image.tmdb.org/t/p/w500{{a.poster_path}}" alt="No image Present in API">
                  <div class="card-body">
                    <h5 class="card-title">{{a.original_title}}</h5>
                    <p class="card-text">{{a.overview}}</p>
                    <button class="btn btn-primary" (click)="favourite(a)">Favourite</button>
                    <button class="btn btn-primary" (click)="watchlater(a)">WatchLater</button>
                  <button class="btn btn-primary" (click)="badmovies(a)">BadMovies</button>
                  </div>
                  <div class="card-footer">
                      <a href="#" class="btn btn-primary">More Info</a>
                    </div>
        
                </div>
             </div>
  </div>

  
  